<div class="registration-form-wrapper upload-content-wrapper">

       <ul ng-controller="TabController" class="clearfix tabbing-list upload-tabbing">

          

           <li><a ng-href="#add_assignment"> Assignment </a></li>

          <li><a ng-class="{active: isSet(2) ? 'active' : ''}" ng-click="setTab(2)" ng-href="#add_timetable">Timetable </a></li>

          <li><a ng-class="{active: isSet(3) ? 'active' : ''}" ng-click="setTab(3)" ng-href="#add_news_class"> Notification </a></li>

          <li><a class="active" ng-class="{active: isSet(4) ? 'active' : ''}" ng-click="setTab(4)" ng-href="#add_info_class"> Information </a></li>

         

        </ul>

    <script>

              $('.select-dropdown-listing input[type=checkbox]').each(function() {

			var $this = $(this);

			var id = $(this).attr('id');

		   $(this).wrap('<span class="c-form"></span>');		   

		   $(this).after('<label for="'+ id + '"></label>');     

	});

          </script>

        <!--news registration-form starts Here -->

        <div class="registration-form clearfix tabbing active-content" id="tab1" ng-init="loader_hide=1">

          <h3>Create Information... </h3>

          <form ng-submit="save_data('4')" ng-init="loader_hide=1">

             <div class="select-class">

            <div class="clearfix select-class-data"> Select Class <i></i> </div>

            <div class="select-dropdown">

                <div class="clearfix select-dropdown-listing">

                <div class="select-dropdown-listing-left">

                  <input type="checkbox" id="select-all" ng-model="selectedAll" ng-click="checkAll()">

                  <label for="select-all"> Select All </label>

                </div>
                    <a href="javascript:void(0);" style="color:red;" class="close-class">X Close</a>
              </div>

              <div class="clearfix select-dropdown-listing" ng-repeat = "item_parent in Items">

                <div class="select-dropdown-listing-left" ng-repeat = "item in item_parent.Name">

                  <input type="checkbox" id="class-one-{{item.label}}" ng-model="item.value">

                  <label for="class-one-{{item.label}}">{{item.label}}</label>

                </div>



              </div>

              

            </div>

          </div>

              <div class="create-assignment">

             <input required type="text" placeholder="Enter Title" ng-model="content_title" >

         <textarea required name="editor2" id="editor2" rows="10" cols="80" ck-editor ng-model="value">

                

            </textarea>

            

          </div>

         

          <input type="text" placeholder="Enter content Url" ng-model="content_url">

         

<!--          <input type="submit" value="Upload Video">-->

           <input type="hidden" ng-model="content_id" value="" />

           <input type="submit" value="SUBMIT" >

           <img style="float:right;margin:28px;" ng-show="loader_show" ng-hide="loader_hide" src="assets/images/ajax-loader.gif" alt="processing..."/>

           <div style="height:25;color:green;font-size:15px;margin:20px;">{{msg}}</div>

          </form>
 <a ng-href="#/list_info_class" class="view-list">View Information</a> 
          </div>

        <!-- news registration-form ends Here --> 

        

        <!--Notifications registration-form ends Here --> 

 </div>

      <!-- registration-form-wrapper ends Here --> 

    